
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 전체 헤더 스타일 */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

/* 로고 스타일 */
.logo {
    flex: 0 0 auto;
}

.logo img {
    height: 100px; /* 로고 이미지 높이 설정 */
    width: auto; /* 비율에 맞게 자동 너비 설정 */
}

/* 메뉴 아이콘 스타일 */
.menu-icon {

}

.menu-icon img {
    margin-left: 20px;
    height: 40px; /* 메뉴 아이콘 높이 설정 */
    width: auto; /* 비율에 맞게 자동 너비 설정 */
}

/* 메뉴 버튼 스타일 */
.menu {
    flex: 1;

    display: flex;
    justify-content: center;
    gap: 1px;
}

.menu button {
    background: none;
    border: none;
    font-size: 16px;
    color: #022e2a;
    cursor: pointer;
    font-family: Godo, sans-serif;
    padding: 8px 12px;
    transition: color 0.3s ease;
}

.menu button:hover {
    color: #0073e6;
}

/* 설정 아이콘 스타일 */
.settings-icon {
    flex: 0 0 auto;
}

.settings-icon img {
    height: 40px; /* 설정 아이콘 높이 설정 */
    margin-right: 20px;
    width: auto; /* 비율에 맞게 자동 너비 설정 */
}
