<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D3.js 다이어그램 예시</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/procuOneHeader.css?v=1}">
  <link rel="stylesheet" th:href="@{/css/home.css?v=1}">
  <link rel="stylesheet" th:href="@{/css/processDiagram.css?v=1}">
</head>
<body>
<!-- 헤더-->
<div th:replace="partials/procuOneHeader :: header"></div>
<section id="diagramcontainer">
  <svg id="diagram" width="1200" height="4000"></svg>
</section>

<script th:src="@{/JS/diagram.js}"></script>
</body>
</html>
