<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D3.js 다이어그램 예시</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/procuOneHeader.css}">
  <link href="//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');">
  <link rel="stylesheet" th:href="@{/css/home.css}">
  <link rel="stylesheet" th:href="@{/css/processDiagram.css}">
  <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body class="grid-container">

  <!-- 헤더-->
  <header class="layout-header"><div th:replace="partials/procuOneHeader :: header"></div></header>
  <aside class="layout-sidebar"><div th:replace="partials/procuOneSide :: side"></div></aside>
  <main class="layout-main">
      <div class="image-wrap">
      </div>
  </main>
  <footer class="layout-footer"></footer>
</body>
</html>
