<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>진척 검수 처리</title>
    <link rel="stylesheet" th:href="@{/css/procuOneHeader.css}">
    <style>
        li{
            list-style: none;
            display:inline;
        }
    </style>
</head>
<body>
 <h2>진척 검수 처리 - 발주리스트</h2>
<div class="progress">
    <button class="plan-btn">검수계획 등록</button>
    <button class="process-btn">검수처리</button>
</div>
<div class="search-container">
    <div class="date-search">
        <label>
            <input type="date" id="date-start">
            <span>-</span>
            <input type="date" id="date-end">
        </label>
        <button id="search-btn">검색</button>
    </div>
    <div class="keyword-search">
        <label>
            <select id="keyword-select">
                <option>품목코드</option>
                <option>품목명</option>
            </select>
            <input type="text" id="keyword-search" placeholder="키워드 검색">
            <button id="keyword-search-btn">검색</button>
        </label>
    </div>
    <table>
        <thead>
         <tr>
             <th>선택</th>
             <th>발주번호</th>
             <th>발주일자</th>
             <th>입고예정일</th>
             <th>품목코드</th>
             <th>품목명</th>
             <th>발주수량</th>
             <th>검수현황</th>
             <th>검수율</th>
         </tr>
        </thead>
        <tbody>
         <tr>
             <td>
                 <label>
                     <input type="checkbox">
                 </label>
             </td>
             <td>ord123</td>
             <td>2024-12-12</td>
             <td>2024-12-22</td>
             <td>asd1234-001</td>
             <td>퓨즈</td>
             <td>100</td>
             <td>1/1</td>
             <td>100%</td>
         </tr>
         <tr>
             <td>
                 <label>
                     <input type="checkbox">
                 </label>
             </td>
             <td>ord123</td>
             <td>2024-12-12</td>
             <td>2024-12-22</td>
             <td>asd1234-001</td>
             <td>퓨즈</td>
             <td>100</td>
             <td>1/1</td>
             <td>100%</td>
         </tr>
         <tr>
             <td>
                 <label>
                     <input type="checkbox">
                 </label>
             </td>
             <td>ord123</td>
             <td>2024-12-12</td>
             <td>2024-12-22</td>
             <td>asd1234-001</td>
             <td>퓨즈</td>
             <td>100</td>
             <td>1/1</td>
             <td>100%</td>
         </tr>
         <tr>
             <td>
                 <label>
                     <input type="checkbox">
                 </label>
             </td>
             <td>ord123</td>
             <td>2024-12-12</td>
             <td>2024-12-22</td>
             <td>asd1234-001</td>
             <td>퓨즈</td>
             <td>100</td>
             <td>1/1</td>
             <td>100%</td>
         </tr>
         <tr>
             <td>
                 <label>
                     <input type="checkbox">
                 </label>
             </td>
             <td>ord123</td>
             <td>2024-12-12</td>
             <td>2024-12-22</td>
             <td>asd1234-001</td>
             <td>퓨즈</td>
             <td>100</td>
             <td>1/1</td>
             <td>100%</td>
         </tr>
        </tbody>
    </table>
    <div class="pagination">
        <ul>
            <li><a href="#" class="page-btn">1</a></li>
            <li><a href="#" class="page-btn">2</a></li>
            <li><a href="#" class="page-btn">3</a></li>
            <li><a href="#" class="page-btn">4</a></li>
            <li><a href="#" class="page-btn">5</a></li>
            <!--  다음 페이지 링크      -->
            <li><a href="#" class="page-btn">▶</a></li>
        </ul>
    </div>
</div>
</body>
</html>