<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/procuOneHeader.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
<div class="grid-container">
<!-- 헤더-->
    <header class="layout-header">
        <div th:replace="partials/procuOneHeader :: header"></div>
    </header>

    <aside class="layout-sidebar">
        <div th:replace="partials/procuOneSide :: side"></div>
    </aside>

    <main class="layout-main">
        <h1>품목조회</h1>
        <div>
          <input type="text" placeholder="제품코드를 입력하세요">
          <button type="submit">검색</button>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>제품코드</th>
                        <th>품목명</th>
                        <th>규격</th>
                        <th>재질</th>
                        <th>수량</th>
                        <th>도면파일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer class="layout-footer">

    </footer>

</div>
</body>
</html>