<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/procuOneHeader.css}">
  <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
<div class="grid-container">
  <!-- 헤더 -->
  <header class="layout-header">
    <div th:replace="partials/procuOneHeader :: header"></div>
  </header>

  <aside class="layout-sidebar">
    <div th:replace="partials/procuOneSide :: side"></div>
  </aside>

  <main class="layout-main">
    <h1>생산계획조회</h1>
    <div>
      <select>
        <option>품목코드</option>
      </select>
      <input type="text">
      <button type="submit">검색</button>
    </div>
    <div>
      <table>
        <thead>
        <tr>
          <th>생산시작일</th>
          <th>생산종료일</th>
          <th>생산제품코드</th>
          <th>생산제품명</th>
          <th>생산수량</th>
          <th>품목코드</th>
          <th>품목코드</th>
          <th>품목명</th>
          <th>조달계획등록</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button type="submit">등록</button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <h1>조달계획등록</h1>
    <div>
      <label>생산시작일</label>
      <input type="text">
    </div>
    <div>
      <label>생산종료일</label>
      <input type="text">
    </div>
    <div>
      <label>생산제품코드</label>
      <input type="text">
    </div>
    <div>
      <label>생산제품명</label>
      <input type="text">
    </div>
    <div>
      <label>생산수량</label>
      <input type="text">
    </div>
    <div>
      <label>품목코드</label>
      <input type="text">
    </div>
    <div>
      <label>품목명</label>
      <input type="text">
    </div>
    <div>
      <label>조달수량</label>
      <input type="text">
    </div>
    <div>
      <label>조달납기일</label>
      <input type="text">
    </div>
    <div>
      <button type="submit">조달계획 등록</button>
    </div>
  </main>

  <footer class="layout-footer">


  </footer>
</div>
</body>
</html>